.stopwatch {
    background-color: #DBFCFF;
    color: #FF9B71;
    margin: 2em;
    padding: 2em;
    width: 20em;
    border: solid 2px #172121;
    border-radius: 20%;
}

.btn {
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#253C78;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: #659B5E;
    text-align:center;
    transition: all 0.15s;
}

.btn:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
}